{% extends 'base.html.twig' %}
 {% block content %}
  <div class="page-heading">
   <div class="container">
    <div class="row">
     <div class="col-lg-4"></div>
     <div class="col-lg-8">
      <div class="top-text header-text">
       <h2>Proposer un bug</h2>
      </div>
     </div>
     <div class="col-lg-4"></div>
    </div>
   </div>
  </div>

  <div class="listing-page">
   <div class="container">
    <div class="row">
     <div class="col-lg-12">
      <div class="naccs">
       <div class="grid">
        <div class="row">
         <form id="search-form" name="sB" method="submit" role="search" action="#">
          <div class="row">
           <div class="col-lg-12 bugFormSpaces">
            <fieldset>
             <div class="col-lg-12 bugInsideFormSpaces">
              <label for="gameTitle">Jeu concerné par le bug :</label>
              <select class="searchFormPage inputBugForm" name="gameTitle" id="gameTitle" required>
               <option value="Skyrim">Skyrim</option>
               <option value="AssassinsCreed3">Assassin's Creed 3</option>
               <option value="Fifa21">Fifa 21</option>
               <option value ="Fallout4">Fallout 4</option>
              </select>
             </div>
             <div class="col-lg-12 bugInsideFormSpaces">
              <p class="textAddGame">Le jeu concerné n'est pas dans la liste ? <a href="addGame.html">Ajoutez-le !</a></p>
             </div>
            </fieldset>
           </div>

           <div class="col-lg-12 bugFormSpaces">
            <fieldset>
             <div class="col-lg-12 bugInsideFormSpaces">
              <label for="bugTitle">Titre du bug:</label>
              <input type="text" class="inputBugForm" name="bugTitle" required>
             </div>
             <div class="col-lg-12 bugInsideFormSpaces">
              <label for="bugSecondTitle">Sous-titre du bug:</label>
              <input type="text" class="inputBugForm" name="bugSecondTitle" required>
             </div>
             <div class="col-lg-12 bugInsideFormSpaces">
              <label for="bugIntroText">Texte intro bug:</label>
              <input type="text" class="inputBugForm" class="inputBugForm" name="bugIntroText" required>
             </div>
             <div class="col-lg-12 bugInsideFormSpaces">
              <label for="bugImage">Image bug:</label>
              <input type="file" name="bugImage" required>
             </div>
             <div class="col-lg-12 bugInsideFormSpaces">
              <label for="bugSeverity">Sévérité bug:</label>
              <select class="searchFormPage inputBugForm" name="bugSeverity" id="bugSeverity" required>
               <option value="insignificant">Insignifiant</option>
               <option value="small">Faible</option>
               <option value="moderate">Modéré</option>
               <option value ="strong">Fort</option>
               <option value ="deadly/heavy">Jeux condamné/lourdement impacté</option>
              </select>
             </div>
             <div class="col-lg-12 bugInsideFormSpaces">
              <label for="bugFrequency">Fréquence bug:</label>
              <select class="searchFormPage inputBugForm" name="bugFrequency" id="bugFrequency" required>
               <option value="exceptionnal">Exceptionnel</option>
               <option value="rare">Rare</option>
               <option value="sometimes">Peu courant</option>
               <option value ="often">Assez régulier</option>
               <option value ="regulary">Fréquent</option>
               <option value ="always">Systématique</option>
              </select>
             </div>
             <div class="col-lg-12 bugInsideFormSpaces">
              <label for="bugText">Texte bug:</label>
              <textarea id="bugText" class="textareaBugCreation" name="bugText"></textarea>
             </div>
             <div class="col-lg-12 bugInsideFormSpaces">
              <label for="gameEditor">Bug résolu ?</label>
              <input type="checkbox" class="leftCheckbox" name="gameEditor">
             </div>
            </fieldset>
           </div>
           <div class="col-lg-12 bugFormSpaces">
            <fieldset>
             <div class="col-lg-12 bugInsideFormSpaces">
              <label for="bugSolutionTitle">Titre de la solution du bug:</label>
              <input type="text" class="inputBugForm" name="bugSolutionTitle">
             </div>
             <div class="col-lg-12 bugInsideFormSpaces">
              <label for="bugSolutionImage">Image solution bug:</label>
              <input type="file" name="bugSolutionImage">
             </div>
             <div class="col-lg-12 bugInsideFormSpaces">
              <label for="bugSolutionText">Texte de la solution du bug :</label>
              <textarea id="bugSolutionText" class="textareaBugCreation" name="bugSolutionText"></textarea>
             </div>
            </fieldset>
           </div>
           <div class="col-lg-4"></div>
           <div class="col-lg-4"></div>
           <div class="col-lg-4">
            <button><input type="submit" name="submitBugButton"></button>
           </div>

          </div>
         </form>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 {% endblock %}