{{ form_start(searchForm, {'method': 'POST', 'attr':{'id': 'search-form', 'name': 'gs', 'role':'search', 'class': 'navSearchForm'}}) }}
    <div class="col-lg-8 align-self-center">
        <fieldset>
            {{ form_row(searchForm.query, {'placeholder': 'Rechercher...', 'name': 'navSearchForm' , 'attr': {'class': 'searchText'} }) }}
        </fieldset>
    </div>
    <div class="col-lg-4">
        <fieldset>
            <button class="main-button headerSearchBarButton"><i class="fas fa-search navIconSearchBar"></i></button>
        </fieldset>
    </div> 
{{ form_end(searchForm) }}